* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#map {
  width: 60%;
  border-radius: 20px;
  height: 97%;
}

input[type="text"] {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  line-height: 40px;
  margin-right: 0;
  min-width: 25%;
}

input[type="button"] {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  height: 40px;
  cursor: pointer;
  margin-left: 5px;
}
input[type="button"]:hover {
  background: #ebebeb;
}
input[type="button"].button-primary {
  background-color: #1a73e8;
  color: white;
}
input[type="button"].button-primary:hover {
  background-color: #1765cc;
}
input[type="button"].button-secondary {
  background-color: white;
  color: #1a73e8;
}
input[type="button"].button-secondary:hover {
  background-color: #d2e3fc;
}

#instructions {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  padding: 1rem;
  font-size: medium;
}

.good {
  background-color: rgb(48, 255, 48);
  border-radius: 10px;
  width: fit-content;
  padding: 5px;
}

.moderate {
  background-color: yellow;
  border-radius: 10px;
  width: fit-content;
  padding: 5px;
}

.unhealthy {
  background-color: rgb(255, 111, 0);
  border-radius: 10px;
  width: fit-content;
  padding: 5px;
}

.very_unhealthy {
  background-color: red;
  border-radius: 10px;
  width: fit-content;
  padding: 5px;
}

.color {
  height: 10px;
  width: 10px;
  border-radius: 100%;
}

.error {
  color: #fff;
  background-color: #5a86c0;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 5px 3px 2px white;
}

#info {
  display: flex;
  flex-direction: column;
  width: 495px;
}

.container {
  display: none;
  flex-direction: column;
  flex-basis: 45%;
  align-items: center;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 1.7rem;
  height: fit-content;
  background-color: rgb(192, 191, 191);
  padding: 10px;
  border-radius: 10px;
}

.container button:nth-child(1){
  order: 5;
}

.container button {
  border: 0;
  border-radius: 10px;
  color: #fff;
  background-color: #1a73e8;
  width: 100%;
  padding: 5px;
  height: fit-content;
  align-self: flex-start;
  font-size: 1rem;
  display: none;
}

.container div {
  margin-bottom: 16px;
}

.weather-info{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-info div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather-info div img{
  height: 30px;
  width: 30px;
}

.caption{
  font-size: 1.2rem;
  margin-top: 8px;
}

.caption div {
  display: flex;
  align-items: center;
}

.weather-img {
  height: 250px;
  width: 250px;
  margin-right: 5px;
}

.temp{
  font-size: 7rem;
  text-shadow: 2px 3px 2px grey;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 5px 5px 4px #d2e3fc;
}

.geo-container {
  display: none;
  flex-direction: column;
  flex-basis: 45%;
  align-items: center;
  margin-right: 20px;
  margin-left: 10px;
  font-size: 1.7rem;
  height: fit-content;
  padding: 10px;
  border-radius: 10px;
}

.geo-container div {
  margin-bottom: 16px;
}

.geo-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.geo-info div {
  display: flex;
  width: fit-content;
  padding: 5px;
  align-items: center;
  justify-content: center;
}

.geo-info div img{
  width: 30px;
  margin-left: 5px;
}